@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
.back {
    position: relative;
    width: 100%;
    height: 681px;
    overflow: hidden;
}
.back::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #142A38;
    z-index: -2;
}
.back::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.25;
    z-index: -1;
}
header {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 4;
}
#logo {
    width: 251px;
    height: 100px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #1f3a4a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    z-index: 4; 
}

.sidebar a {
    padding: 40px 8px 20px 32px;
    text-decoration: none;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: small;
    display: block;
    transition: 0.3s;
}

#x {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    margin: 10px;
    font-size: 36px;
    margin-left: 80px;
    border-style: none;
    background-color: transparent;
}

#m {
    width: 35px;
    height: 35px;
}

.openbtn {
    position: absolute;
    top: 0;
    right: 10px;
    margin: 20px;
    font-size: 36px;
    margin-left: 80px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.content {
    transition: margin-right 0.5s;
    padding: 20px;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio > p {
    padding: 210px;
    width: 460px;
    height: 145px;
    text-align: center;
    margin-left: 50px;
    color: white;
    font-family: "Cutive Mono", monospace;
    font-size: x-large;
}

#problema {
    width: 100%;
    height: 681px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #142A38;
}

#problema > p {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15vw;
    color: rgba(255, 255, 255, 0.34);
    margin: 0;
    top: 150%;
    left: 0;
    transform: translate(0, -150%);
    z-index: 0;
}

#problema > img {
    position: relative;
    top: 25%;
    left: 0;
    transform: translate(0, -25%);
    margin-bottom: 20px;
    z-index: 1;
}

#circle1, #circle2, #circle3, #circle4 {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#circle1 {
    top: 40%;
    margin-top: 420px;
    left: 40%;
}

#circle2 {
    top: 50%;
    margin: 390px;
    left: 30%;
}

#circle3 {
    top: 60%;
    margin-top: 200px;
    left: 50%;
}

#circle4 {
    top: 70%;
    margin-top: 260px;
    left: 35%;
}

#c {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#circle1:hover{
    background:white;
    border-radius: 50%;
}

#circle2:hover{
    background:white;
    border-radius: 50%;
}

#circle3:hover{
    background:white;
    border-radius: 50%;
}

#circle4:hover{
    background:white;
    border-radius: 50%;
}

#circle-modal {
    display: none;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #313d4b;
    width: 350px;
    height: 350px;
    font-family: "Josefin Sans", sans-serif;
    font-size: large;
    color: #F8F8F2;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}
#circle-modal .closebtn{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 29px;
    margin-left: 80px;
    border-style: none;
    background-color: transparent;
}
#tecnologia {
    width: 100%;
    height: 681px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #142A38;
}
.card {
    width: 972px;
    height: 425px;
}
.ex {
    float: left;
    width: 572px;
    height: 425px;
    background-color: white;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    color: #142A38;
    padding: 0;
    margin: 0;
}
.ex>h1 {
    padding: 10px;
}
.ex>button{
    height: 50px;
    margin-top: 10px;
    margin-right: 350px;
    background-color: #142A38;
    border-radius: 15px;
    border: #ffffff;
}
.ex>button>a{
    margin: 5px;
    text-decoration: none;
    color: white;
    font-family: "Josefin Sans", sans-serif;
}
.ex>p{
    font-size: large;
    padding: 60px;
}
.prototipo {
    float: left;
    width: 400px;
    height: 425px;
}
.prototipo>img {
    width: 400px;
    height: 425px;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 335px;
    top: 100px;
    width: 100%;
    height: 100%;
}

.modal-content {
    background-color: #313d4b;
    width: 500px;
    height: 500px;
    position: fixed;
    font-family: monospace;
    font-size: large;
    color: #F8F8F2;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}
.modal-content .closebtn{
    position: absolute;
    top: 0;
    right: 10px;
    margin: 20px;
    font-size: 36px;
    margin-left: 80px;
    border-style: none;
    background-color: transparent;
}
#objetivos {
    width: 100%;
    height: 681px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #142A38;
}
#target{
    margin-top: 50px;
    width: 486px;
    height: 530px;
    background-color: white;
}
#img{
    width: 486px;
    height: 420px;
}
#imagensBanner{
    width: 486px;
    height: 420px;
}
#obj{
    display: flex;
    margin-top: 80px;
    justify-content: flex-end;
    font-family: "Josefin Sans", sans-serif;
    color: #142A38;
}
#publico {
    width: 100%;
    height: 681px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #142A38;
}
#public {
    width: 600px;
    height: 490px;
    border: solid 2px white;
}
#conclusion {
    width: 100%;
    height: 681px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #142A38;
}

.carrosel {
    height: 490px;
    width: 700px;
    border: solid 2px #ffffff;
    position: relative;
    overflow: hidden;
}

.carrosel-content {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.carrosel-content.active {
    display: flex;
}

.content1, .content2 {
    width: 400px;
    height: 490px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content1 {
    background-color: white;
    color: #142A38;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
}

.content2 {
    background-color: #142A38;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
}

.imagem, .imagem2 {
    width: 300px;
    height: 490px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.imagem img, .imagem2 img {
    width: 100%;
    height: auto;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    height: 400px;
}
.rodape{
    width: 95%;
    height: 350px;
    border-radius: 30px;
    border: solid 2px #27475b;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.rodape>h1{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50px;
    color: #27475b;
    margin-top: 15px;
    font-family: "Josefin Sans", sans-serif;
}
#info{
    margin-top: 35px;
    width: px;
    height: 100px;
    float: left;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
#info>a{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    text-decoration: none; 
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    color: #27475b;
    margin-left: 50px;
}
#pareceiros{
    margin-top: 35px;
    width: 255px;
}
#oc20{
    height: 100px;
    width: 150px;
    top: 145%;
    left: -199%;
    transform: translate(199%, -145%);
    margin-left: 85px;
   
}
#fiap{
    height: 50px;
    width: 180px;
    top: 260%;
    left: -190%;
    transform: translate(190%, -260%);
}

@media screen and (max-width: 800px){
    #logo{
        width: 150px;
        height: 70px;
        }
        .inicio {
            padding: 100px; 
        }
    
        .inicio > p {
            width: 100%; 
            margin: 0; 
            padding: 10px; 
            font-size: medium; 
            text-align: center;
            margin-top: 150px;
            margin-right: 10px;
        }
        #problema > p {
            text-align: center;
            font-family: "Josefin Sans", sans-serif;
            font-size: 15vw;
            color: rgba(255, 255, 255, 0.34);
            margin: 0;
            top: 250%;
            left: 0;
            transform: translate(0, -300%);
        }
        #problema > img {
            width: 350px;
            position: relative;
            top: 23%;
            left: 5%;
            transform: translate(-5%, -90%);
            margin-bottom: 20px;
            z-index: 1;
        }
        #circle1 {
            top: -45%;
            left: 48%;
        }
        
        #circle2 {
            top: 1%;
            left: 3%;
        }
    
        
        #circle3 {
            top: 80%;
            left: 45%;
        }
        
        #circle4 {
            top: 30%;
            left: 30%;
        }
        .card{
            padding: 5px;
        }
        .ex {
            float: left;
            width: 350px;
            height: 300px;
            background-color: white;
            text-align: center;
            font-size: small;
            font-family: "Josefin Sans", sans-serif;
            color: #142A38;
            padding: 0;
            margin: 0;
        }
        .ex>h1 {
            padding: 10px;
        }
        .ex>p{
            width: 300px;
            font-size: small;
            top: 20%;
            left: 10%;
            transform: translate(-10%, -20%);
        }
        .ex>button{
            height: 20px;
            transform: translate(10%, -400%);
            background-color: #142A38;
            border-radius: 15px;
            border: #ffffff;
        }
        .ex>button>a{
            margin: 5px;
            text-decoration: none;
            color: white;
            font-size: smaller;
            font-family: "Josefin Sans", sans-serif;
        }
        .prototipo {
            float: left;
            width: 150px;
            height: 240px;
        }
        .prototipo>img {
            width: 225px;
            height: 300px;
        }
        #target{
            margin-top: 5px;
            width: 330px;
            height: 390px;
            background-color: white;
        }
        #img{
            width: 330px;
            height: 220px;
        }
        #imagensBanner{
            width: 330px;
            height: 300px;
        }
        #obj{
            display: flex;
            margin-top: 145px;
            justify-content: flex-end;
            font-family: "Josefin Sans", sans-serif;
            color: #142A38;
        }
        #public {
            width: 435px;
            height: 390px;
            border: solid 2px white;
        }
        #public>img{
            width: 435px;
            height: 390px;
        }
        .carrosel {
            height: 390px;
            width: 90%;
            border: solid 2px #ffffff;
            position: relative;
            overflow: hidden;
            margin: 0;
            padding: 0;
        }
        .content1, .content2 {
            width: 400px;
            height: 400px;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .imagem, .imagem2 {
            width: 300px;
            height: 400px;
            display: flex;
        }
        #oc20{
            height: 100px;
            width: 150px;
            transform: translate(80%, -120%);
            margin-left: 85px;
           
        }
        #fiap{
            height: 50px;
            width: 180px;
            top: -30%;
            left: -5%;
            transform: translate(90%, -250%);
        }
}
@media screen and (max-width: 500px){
    header {
        position: relative;
        width: 100%;
        height: 100px;
        display: flex;
        z-index: 4;
    }
    #logo{
        width: 130px;
        height: 70px;
    }
    .openbtn {
        position: absolute;
        top: 0;
        right: 10px;
        margin: 20px;
        font-size: 36px;
        margin-left: 80px;
        border-style: none;
        background-color: transparent;
    }
    .sidebar a {
        padding: 50px 8px 20px 32px;
        height: 5px;
        text-decoration: none;
        color: white;
        font-family: "Josefin Sans", sans-serif;
        font-size: small;
        display: block;
        transition: 0.3s;
    }
    .sidebar .closebtn {
        position: absolute;
        right: 110px;
        margin: 5px;
        border-style: none;
        background-color: transparent;
    }
    .inicio {
        padding: 35px; 
    }

    .inicio > p {
        width: 100%; 
        margin: 0; 
        padding: 10px; 
        font-size: small; 
        text-align: center;
        margin-top: 150px;
        margin-right: 10px;
    }
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #1f3a4a;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 20px;
        z-index: 4;
    }
    #problema {
        width: 100%;
        height: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #142A38;
    }
    #problema > p {
        text-align: center;
        font-family: "Josefin Sans", sans-serif;
        font-size: 15vw;
        color: rgba(255, 255, 255, 0.34);
        margin: 0;
        top: 250%;
        left: 0;
        transform: translate(0, -630%);
    }

    #problema > img {
        width: 200px;
        position: relative;
        top: 23%;
        left: 5%;
        transform: translate(-5%, -280%);
        margin-bottom: 20px;
        z-index: 1;
    }

    #circle1 {
        top: 35%;
        margin-top: 120px;
        left: 48%;
    }
    
    #circle2 {
        top: 42%;
        margin: 130px;
        left: 30%;
        z-index: 2;
    }

    
    #circle3 {
        top: 43%;
        margin-top: 170px;
        left: 45%;
    }
    
    #circle4 {
        top: 38%;
        margin-top: 140px;
        left: 30%;
    }

    #tecnologia {
        width: 100%;
        height: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #142A38;
    }
    .card {
        height:240px;
    }
    .ex {
        float: left;
        width: 230px;
        height: 240px;
        background-color: white;
        text-align: center;
        font-size: small;
        font-family: "Josefin Sans", sans-serif;
        color: #142A38;
        padding: 0;
        margin: 0;
    }
    .ex>h1 {
        padding: 5px;
    }
    .ex>p{
        width: 200px;
        font-size: xx-small;
        top: 20%;
        left: 25%;
        transform: translate(-15%, -20%);
    }
    .ex>button{
        height: 20px;
        transform: translate(10%, -400%);
        background-color: #142A38;
        border-radius: 15px;
        border: #ffffff;
    }
    .ex>button>a{
        margin: 5px;
        text-decoration: none;
        color: white;
        font-size: smaller;
        font-family: "Josefin Sans", sans-serif;
    }
    .prototipo {
        float: left;
        width: 145px;
        height: 240px;
    }
    .prototipo>img {
        width: 145px;
        height: 240px;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 3;
        left: 40px;
        top: 220px;
        width: 100%;
        height: 100%;
    }
    
    .modal-content {
        background-color: #313d4b;
        width: 300px;
        height: 300px;
        position: fixed;
        font-family: monospace;
        font-size: small;
        color: #F8F8F2;
        border-radius: 5px;
        overflow: auto;
    }
    .modal-content .closebtn{
        position: absolute;
        top: 0;
        right: 5px;
        margin: 5px;
        font-size: 36px;
        margin-left: 80px;
        border-style: none;
        background-color: transparent;
    }
    #objetivos {
        width: 100%;
        height: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #142A38;
    }
    #target{
        margin-top: 5px;
        width: 340px;
        height: 390px;
        background-color: white;
    }
    #img{
        width: 340px;
        height: 230px;
    }
    #imagensBanner{
        width: 340px;
        height: 310px;
    }
    #obj{
        display: flex;
        margin-right: 2px;
        margin-top: 132px;
        justify-content: flex-end;
        font-family: "Josefin Sans", sans-serif;
        color: #142A38;
    }
    #publico {
        width: 100%;
        height: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #142A38;
    }
    #public {
        width: 335px;
        height: 290px;
        border: solid 2px white;
    }
    #public>img{
        width: 335px;
        height: 290px;
    }
    #conclusion {
        width: 100%;
        height: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #142A38;
    }
    
    .carrosel {
        height: 240px;
        width: 100%;
        border: solid 2px #ffffff;
        position: relative;
        overflow: hidden;
    }
    
    
    .content1, .content2 {
        width: 400px;
        height: 240px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content2 {
        background-color: #142A38;
        color: white;
        font-family: "Josefin Sans", sans-serif;
        text-align: center;
    }
    .content2>ul{
        font-size: xx-small;
    }
    
    .imagem, .imagem2 {
        width: 300px;
        height: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        width: 100%;
        height: 500px;
    }
    .rodape{
        width: 95%;
        height: 450px;
        border-radius: 30px;
        border: solid 2px #27475b;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .rodape>h1{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 50px;
        color: #27475b;
        margin-top: 15px;
        font-family: "Josefin Sans", sans-serif;
    }
    #info{
        margin-top: 35px;
        width: 300px;
        height: 100px;
        float: left;
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    #info>a{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        text-decoration: none; 
        text-decoration: none;
        font-family: "Josefin Sans", sans-serif;
        color: #27475b;
    }
    #pareceiros{
        margin-top: 35px;
        width: 255px;
    }
    #oc20{
        height: 100px;
        width: 150px;
        top: -35%;
        left: 20%;
        transform: translate(-20%, 35%);
        margin-left: 85px;
       
    }
    #fiap{
        height: 50px;
        width: 180px;
        top: -30%;
        left: -5%;
        transform: translate(5%, 90%);
    }

}